body{
    display: flex;
    background: linear-gradient(rgb(124, 234, 157), rgb(63, 63, 238));
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}